<div class="row">
    <div class="col-4">
        <p>
            <h2>Your donation was sent successfully =)</h2>
        </p>
        <p>
            <h4>Thank you for your support, it is very important for us!</h4>
        </p>
    </div>
    <div class="col-8">
        <img src="~/imgs/LOGO.png" />

    </div>
</div>

