@model DashboardViewModel
@using System.Linq;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    ViewData["ActivePage"] = DIPLOMA.Views.Panel.PanelNavPages.Index;
}

<script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>

<div class="row">
    <h2 style="text-align:center"><b>@Model.InBordersChart.Caption</b></h2>
</div>
<br />

<div class="row">
    <form asp-action="Index" method="get" class="btn-group mr-2">

        <div class="input-group m-1">
            <label for="StartDate" class="col-form-label p-1">Satart time</label>
            <input type="date" class="form-control" placeholder="Start date"
                   aria-describedby="btnGroupAddon" name="StartDate" value="@ViewBag.StartDate?.ToString("yyyy-MM-dd")">
        </div>
        <div class="input-group m-1">
            <label for="EndDate" class="col-form-label p-1">End time</label>
            <input type="date" class="form-control" placeholder="End date" name="EndDate" value="@ViewBag.EndDate?.ToString("yyyy-MM-dd")">
        </div>

        <input type="submit" value="Apply" class="btn btn-outline-primary" />
    </form>
</div>


<br />
@await Html.PartialAsync("~/Views/Panel/_DashboardStatistic.cshtml", Model.InBordersChart)

