
@using DIPLOMA.Services
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components

@model DIPLOMA.Models.ViewModels.MsgWidgetViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    ViewData["ActivePage"] = DIPLOMA.Views.Panel.PanelNavPages.Notification;
}


<div class="row">
    <div class="col">
        @*<component type="typeof(MsgWidgetContentComponent)" render-mode="ServerPrerendered"
            param-UserID="@Model.MWidget.UserID"
            param-VM="@Model"
            param-MWidget="@Model.MWidget"/>*@
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            

            @await Html.PartialAsync("~/Views/MsgWidgets/_MsgWidgetGrid.cshtml", Model)


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
