
@using DIPLOMA.Services
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components

@model DIPLOMA.Models.ViewModels.MsgWidgetViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    ViewData["ActivePage"] = DIPLOMA.Views.Panel.PanelNavPages.Notification;
}


<div class="row">
    <div class="col">
        @*<component type="typeof(MsgWidgetContentComponent)" render-mode="ServerPrerendered"
            param-UserID="@Model.MWidget.UserID"
            param-VM="@Model"
            param-MWidget="@Model.MWidget"/>*@
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MWidget.Name" class="control-label"></label>
                <input asp-for="MWidget.Name" class="form-control" />
                <span asp-validation-for="MWidget.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MWidget.HeaderText" class="control-label"></label>
                <input asp-for="MWidget.HeaderText" class="form-control" />
                <small id="showUserText" class="form-text text-muted">
                    <div class="mt-2 mb-1">
                        Allowed :
                        <u>{user}</u>
                        <u>{amount}</u>
                        <br>
                        <strong>For example:</strong> {user} donate {amount}$
                    </div>
                </small>
                <span asp-validation-for="MWidget.HeaderText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MWidget.DisplayTimeSec" class="control-label"></label>
                <input asp-for="MWidget.DisplayTimeSec" class="form-range" type="range" min="0" max="10"/>
                <span asp-validation-for="MWidget.DisplayTimeSec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MWidget.MaxSymbols" class="control-label"></label>
                <input asp-for="MWidget.MaxSymbols" class="form-control" />
                <span asp-validation-for="MWidget.MaxSymbols" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MWidget.RandomContent" class="control-label"></label>
                <input asp-for="MWidget.RandomContent" class="" type="checkbox" />
                <span asp-validation-for="MWidget.RandomContent" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MWidget.ReadMessage" class="control-label"></label>
                <input asp-for="MWidget.ReadMessage" class="" type="checkbox" />
                <span asp-validation-for="MWidget.ReadMessage" class="text-danger"></span>
            </div>

            @Html.HiddenFor(model => model.MWidget.UserID)

            @await Html.PartialAsync("~/Views/MsgWidgets/_MsgWidgetGrid.cshtml", Model)


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
