
@model DIPLOMA.Models.ViewModels.DisplayMsgViewModel
@using System.Linq

@{
    Layout = "~/Views/Shared/_DisplayDonateLayout.cshtml";

    bool randomContent = Model.MWidget.RandomContent;
    int contentIndx = 0;
    Random random = new Random();

}
<div>
    <dl class="row" id="donate" style="display:none">
        <dd class="col-sm-10">
            <h2 id="DonatorName"></h2>
        </dd>
        <dd class="col-sm-10">
            <h2 id="Amount"></h2>
        </dd>
        <dd class="col-sm-10">
            <h2 id="Message"></h2>
        </dd>
        <dd class="col-sm-10">
            <img id="Animation" src="" alt="" class="img-fluid">
        </dd>
    </dl>
</div>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script>


    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/donates")
        .withAutomaticReconnect()
        .build();

    // Get message from hub
    hubConnection.on('ReceiveMessage', function (message) {

        document.getElementById("DonatorName").value = donate.donatorName;
        document.getElementById("Amount").value = donate.amount;
        document.getElementById("Message").value = donate.message;


        document.getElementById("Animation").src = @Html.Raw(Model.Content.ElementAt(randomContent ?
            random.Next(0, Model.Content.Count) : (contentIndx - ((int)(contentIndx / Model.Content.Count) * Model.Content.Count))))

            document.getElementById("donate").style.display = 'block';

            setTimeout(function () {
                document.getElementById("donate").style.display = 'none';
            }, 5000);

        });
    hubConnection.start();

    var lockResolver;
    if (navigator && navigator.locks && navigator.locks.request) {
        const promise = new Promise((res) => {
            lockResolver = res;
        });

        navigator.locks.request('unique_lock_name', { mode: "shared" }, () => {
            return promise;
        });
    }

</script>