@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div>

    <div class="row">
        <div class="col-md-3">
            <a class="nav-link text-dark btn btn-sm btn-outline-secondary"
               asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Account</a>
            <a class="nav-link text-dark btn btn-sm btn-outline-secondary"
               asp-area="" asp-controller="Panel" asp-action="Index" title="Manage">User Panel</a>
            <br>
            <partial name="~/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
