@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-8">
        <img src="~/imgs/LOGO.png" />
    </div>
    <div class="col-4">
        <p>
            <h2>
                Hello =)
            </h2>
        </p>
        <p>
            <h1>
                Welcome to the web platform for financial support of content makers <b>Don.<span style="color:darkred">8</span></b>
            </h1>
        </p>
        <br />
        <p>
            <h4>
                <b>Don.<span style="color:darkred">8</span></b> will make you an offer you can't refuse
            </h4>
        </p>
        <br />

        <p>
            <h6>
                <b>Don.<span style="color:darkred">8</span></b> will allow you to safely and guaranteed deliver your donation to the recipient despite dry laws and other mafia families

            </h6>
        </p>
    </div>
</div>
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-2">


    </div>
    <div class="col-8">
        <p>
            <h4 class="text-center">
                How it works?
            </h4>
        </p>
        <ol>
            <li>You register your donat page, configure widgets for video streaming (for example, OBS Studio).</li>
            <li>Subscribers leave messages on your donation page and go to the payment system service.</li>
            <li>After successful payment, we receive a confirmation from the payment system.</li>
            <li>The message appears in your stream and is stored in your story.</li>
        </ol>

    </div>
    <div class="col-2">


    </div>


</div>
<br />
<p>
    <h4 class="text-center">
        Are you ready?
    </h4>
</p>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <a class="w-100 btn  btn-primary text-uppercase" asp-area="Identity" asp-page="/Account/Register">
        <span class="display-4">I am ready!!! </span></a>

    </div>
    <div class="col-2"></div>
</div>

<br />
<br />
